.chain-element_div{
    /*display: inline-block;*/
    /*width: 200px;*/
    /*height: 100px;*/
    /*margin: 1em;*/
    text-align: center;
}

.chain-element_img {
    width: 50px;
    border-radius: 100px; /* Радиус скругления */
    border: 3px solid #9fcdff; /* Параметры рамки */
    box-shadow: 0 0 7px #666; /* Параметры тени */
}